{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/show/showTeacher.css')}}">
{% endblock %}

{% block title %}{{ teacher }}{% endblock %}

{% block body %}
    <div class="breadcrumb">
        <p class="row">
            <a href="{{ path('app_home')}}">Dashboard</a>&nbsp;>&nbsp;<a href="{{ path('app_teacher')}}">Teachers</a>&nbsp;>&nbsp;<span class="blue">{{ teacher }}</span>
        </p>
    </div>

    <div class="grid content-container">
        <div class="page-title row">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32" height="32" rx="8" fill="var(--grey1)"/>
                <path d="M22.6667 23.5C22.6667 21.1988 19.6819 19.3333 16 19.3333C12.3181 19.3333 9.33337 21.1988 9.33337 23.5M16 16.8333C13.6989 16.8333 11.8334 14.9679 11.8334 12.6667C11.8334 10.3655 13.6989 8.5 16 8.5C18.3012 8.5 20.1667 10.3655 20.1667 12.6667C20.1667 14.9679 18.3012 16.8333 16 16.8333Z" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <h1>{{ teacher.firstname}} <span class="blue">{{ teacher }}</span></h1>
        
            {# <a class="row" href={{ path('edit_teacher', {'id' : teacher.id}) }}>
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="8" fill="var(--grey1)"/>
                    <path d="M19 9.58588L21 11.5859M17 23.5859H25M7 24.0859L8 20.0859L19.5858 8.50009C20.3668 7.71905 21.6332 7.71904 22.4142 8.50009L22.5858 8.67166C23.3668 9.45271 23.3668 10.719 22.5858 11.5001L11 23.0859L7 24.0859Z" stroke="var(--red)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        
            <a href={{ path('delete_teacher', {'id' : teacher.id}) }}>
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="8" fill="var(--grey1)"/>
                    <path d="M19.2854 7.32567L18.5661 8.0203L18.5661 8.0203L19.2854 7.32567ZM12.7144 7.32567L13.4337 8.0203L13.4337 8.0203L12.7144 7.32567ZM18.7999 15.2937C18.7999 14.7414 18.3522 14.2937 17.7999 14.2937C17.2476 14.2937 16.7999 14.7414 16.7999 15.2937H18.7999ZM16.7999 19.7937C16.7999 20.346 17.2476 20.7937 17.7999 20.7937C18.3522 20.7937 18.7999 20.346 18.7999 19.7937H16.7999ZM15.1999 15.2937C15.1999 14.7414 14.7522 14.2937 14.1999 14.2937C13.6476 14.2937 13.1999 14.7414 13.1999 15.2937H15.1999ZM13.1999 19.7937C13.1999 20.346 13.6476 20.7937 14.1999 20.7937C14.7522 20.7937 15.1999 20.346 15.1999 19.7937H13.1999ZM8.7999 10.6L8.7999 9.6L7.68264 9.6L7.80602 10.7104L8.7999 10.6ZM23.1999 10.6L24.1938 10.7104L24.3172 9.6L23.1999 9.6L23.1999 10.6ZM15.9999 25L15.9999 26L15.9999 25ZM11.775 24.49L11.2619 25.3484L11.775 24.49ZM9.78148 19.4342L8.7876 19.5447L8.7876 19.5447L9.78148 19.4342ZM10.7549 23.577L11.5513 22.9723L10.7549 23.577ZM20.2248 24.49L19.7118 23.6317L19.7118 23.6317L20.2248 24.49ZM22.2183 19.4342L21.2244 19.3238L21.2244 19.3238L22.2183 19.4342ZM21.2449 23.577L20.4485 22.9723L21.2449 23.577ZM7.8999 9.6C7.34762 9.6 6.8999 10.0477 6.8999 10.6C6.8999 11.1523 7.34762 11.6 7.8999 11.6V9.6ZM24.0999 11.6C24.6522 11.6 25.0999 11.1523 25.0999 10.6C25.0999 10.0477 24.6522 9.6 24.0999 9.6V11.6ZM13.3999 10.7282V9.22381H11.3999V10.7282H13.3999ZM14.5473 8H17.4525V6H14.5473V8ZM18.5999 9.22381V10.7282H20.5999V9.22381H18.5999ZM17.4525 8C17.9879 8 18.2853 8.00227 18.4928 8.03115C18.6677 8.05552 18.624 8.08032 18.5661 8.0203L20.0048 6.63104C19.6324 6.24535 19.1784 6.10732 18.7686 6.05026C18.3912 5.99773 17.9294 6 17.4525 6V8ZM20.5999 9.22381C20.5999 8.72698 20.6019 8.25717 20.5523 7.875C20.4994 7.46756 20.3725 7.01183 20.0048 6.63104L18.5661 8.0203C18.5128 7.96518 18.5432 7.93436 18.5689 8.13249C18.5979 8.35591 18.5999 8.67233 18.5999 9.22381H20.5999ZM13.3999 9.22381C13.3999 8.67233 13.4019 8.35591 13.4309 8.13249C13.4566 7.93436 13.487 7.96518 13.4337 8.0203L11.995 6.63104C11.6273 7.01183 11.5004 7.46756 11.4475 7.875C11.3979 8.25717 11.3999 8.72698 11.3999 9.22381H13.3999ZM14.5473 6C14.0704 6 13.6086 5.99773 13.2313 6.05026C12.8215 6.10732 12.3675 6.24535 11.995 6.63104L13.4337 8.0203C13.3758 8.08032 13.3321 8.05552 13.5071 8.03115C13.7145 8.00227 14.0119 8 14.5473 8V6ZM16.7999 15.2937V19.7937H18.7999V15.2937H16.7999ZM13.1999 15.2937V19.7937H15.1999V15.2937H13.1999ZM10.7754 19.3238L9.79379 10.4896L7.80602 10.7104L8.7876 19.5447L10.7754 19.3238ZM8.7999 11.6L23.1999 11.6L23.1999 9.6L8.7999 9.6L8.7999 11.6ZM22.206 10.4896L21.2244 19.3238L23.2122 19.5447L24.1938 10.7104L22.206 10.4896ZM15.9999 24C14.8567 24 14.0695 23.9989 13.4593 23.9408C12.8659 23.8842 12.5366 23.7803 12.288 23.6317L11.2619 25.3484C11.8665 25.7098 12.5257 25.8608 13.2695 25.9317C13.9965 26.0011 14.8952 26 15.9999 26L15.9999 24ZM8.7876 19.5447C8.90959 20.6426 9.00778 21.5359 9.15697 22.2508C9.30959 22.9823 9.53254 23.6208 9.95847 24.1818L11.5513 22.9723C11.3762 22.7416 11.2366 22.4258 11.1148 21.8423C10.9896 21.2423 10.9016 20.46 10.7754 19.3238L8.7876 19.5447ZM12.288 23.6317C12.0026 23.461 11.7525 23.2372 11.5513 22.9723L9.95847 24.1818C10.3143 24.6504 10.7568 25.0464 11.2619 25.3484L12.288 23.6317ZM15.9999 26C17.1046 26 18.0033 26.0011 18.7303 25.9317C19.4741 25.8608 20.1333 25.7098 20.7379 25.3484L19.7118 23.6317C19.4632 23.7803 19.1339 23.8842 18.5405 23.9408C17.9303 23.9989 17.1431 24 15.9999 24L15.9999 26ZM21.2244 19.3238C21.0982 20.46 21.0102 21.2423 20.885 21.8423C20.7632 22.4258 20.6236 22.7416 20.4485 22.9723L22.0413 24.1818C22.4673 23.6208 22.6902 22.9823 22.8428 22.2508C22.992 21.5359 23.0902 20.6426 23.2122 19.5447L21.2244 19.3238ZM20.7379 25.3484C21.243 25.0464 21.6855 24.6504 22.0413 24.1818L20.4485 22.9723C20.2473 23.2372 19.9972 23.461 19.7118 23.6317L20.7379 25.3484ZM7.8999 11.6H24.0999V9.6H7.8999V11.6Z" fill="var(--red)"/>
                </svg>
            </a> #}
        </div>
        
        <div class="teacher-info_main grey3-bg column">
            <p>
                <span class="grey4">Name:</span> {{ teacher }}
            </p>
            <p>
                <span class="grey4">Firstname:</span> {{ teacher.firstname }}
            </p>
        </div>

        <div class="teacher-info_contact grid">
            <div class="grey3-bg row">
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 2L8.10764 6.61227L8.10967 6.61396C8.78785 7.11128 9.12714 7.3601 9.49876 7.45621C9.82723 7.54117 10.1725 7.54117 10.501 7.45621C10.8729 7.36001 11.2132 7.11047 11.8926 6.61227C11.8926 6.61227 15.8101 3.60594 18 2M1 11.8002V4.2002C1 3.08009 1 2.51962 1.21799 2.0918C1.40973 1.71547 1.71547 1.40973 2.0918 1.21799C2.51962 1 3.08009 1 4.2002 1H15.8002C16.9203 1 17.4796 1 17.9074 1.21799C18.2837 1.40973 18.5905 1.71547 18.7822 2.0918C19 2.5192 19 3.07899 19 4.19691V11.8036C19 12.9215 19 13.4805 18.7822 13.9079C18.5905 14.2842 18.2837 14.5905 17.9074 14.7822C17.48 15 16.921 15 15.8031 15H4.19691C3.07899 15 2.5192 15 2.0918 14.7822C1.71547 14.5905 1.40973 14.2842 1.21799 13.9079C1 13.4801 1 12.9203 1 11.8002Z" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p>
                    {{ teacher.email }}
                </p>
            </div>
        </div>
    
        <h2  class="teacher-h2">Sessions</h2>
    
        <div class="teacher-session-container grid">
            {% for session in ongoingSessions %}
                <a class="row person-session-card grey3-bg" href={{ path('show_session', {'id' : session.id}) }}>
                    <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7H17M1 7V15.8002C1 16.9203 1 17.4801 1.21799 17.9079C1.40973 18.2842 1.71547 18.5905 2.0918 18.7822C2.5192 19 3.07899 19 4.19691 19H13.8031C14.921 19 15.48 19 15.9074 18.7822C16.2837 18.5905 16.5905 18.2842 16.7822 17.9079C17 17.4805 17 16.9215 17 15.8036V7M1 7V6.2002C1 5.08009 1 4.51962 1.21799 4.0918C1.40973 3.71547 1.71547 3.40973 2.0918 3.21799C2.51962 3 3.08009 3 4.2002 3H5M17 7V6.19691C17 5.07899 17 4.5192 16.7822 4.0918C16.5905 3.71547 16.2837 3.40973 15.9074 3.21799C15.4796 3 14.9203 3 13.8002 3H13M13 1V3M13 3H5M5 1V3" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>
                        {{ session }}
                    </p>
                    <div class="person-session-card_dates column">
                        <p class="grey4">
                            {{ session.dateStartFormat }}
                        </p>
                        <p>
                            {{ session.dateEndFormat }}
                        </p>
                    </div>
                </a>
            {% endfor %}

            {% for session in futureSessions %}
                <a class="row person-session-card grey3-bg" href={{ path('show_session', {'id' : session.id}) }}>
                    <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7H17M1 7V15.8002C1 16.9203 1 17.4801 1.21799 17.9079C1.40973 18.2842 1.71547 18.5905 2.0918 18.7822C2.5192 19 3.07899 19 4.19691 19H13.8031C14.921 19 15.48 19 15.9074 18.7822C16.2837 18.5905 16.5905 18.2842 16.7822 17.9079C17 17.4805 17 16.9215 17 15.8036V7M1 7V6.2002C1 5.08009 1 4.51962 1.21799 4.0918C1.40973 3.71547 1.71547 3.40973 2.0918 3.21799C2.51962 3 3.08009 3 4.2002 3H5M17 7V6.19691C17 5.07899 17 4.5192 16.7822 4.0918C16.5905 3.71547 16.2837 3.40973 15.9074 3.21799C15.4796 3 14.9203 3 13.8002 3H13M13 1V3M13 3H5M5 1V3" stroke="var(--grey4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>
                        {{ session }}
                    </p>
                    <div class="person-session-card_dates column">
                        <p class="blue">
                            {{ session.dateStartFormat }}
                        </p>
                        <p class="grey4">
                            {{ session.dateEndFormat }}
                        </p>
                    </div>
                </a>
            {% endfor %}

            {% for session in finishedSessions %}
                <a class="row person-session-card grey3-bg" href={{ path('show_session', {'id' : session.id}) }}>
                    <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7H17M1 7V15.8002C1 16.9203 1 17.4801 1.21799 17.9079C1.40973 18.2842 1.71547 18.5905 2.0918 18.7822C2.5192 19 3.07899 19 4.19691 19H13.8031C14.921 19 15.48 19 15.9074 18.7822C16.2837 18.5905 16.5905 18.2842 16.7822 17.9079C17 17.4805 17 16.9215 17 15.8036V7M1 7V6.2002C1 5.08009 1 4.51962 1.21799 4.0918C1.40973 3.71547 1.71547 3.40973 2.0918 3.21799C2.51962 3 3.08009 3 4.2002 3H5M17 7V6.19691C17 5.07899 17 4.5192 16.7822 4.0918C16.5905 3.71547 16.2837 3.40973 15.9074 3.21799C15.4796 3 14.9203 3 13.8002 3H13M5 3H13M5 3V1M13 3V1M12 11L8 15L6 13" stroke="var(--green)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>
                        {{ session }}
                    </p>
                    <div class="person-session-card_dates column">
                        <p class="grey4">
                            {{ session.dateStartFormat }}
                        </p>
                        <p class="grey4">
                            {{ session.dateEndFormat }}
                        </p>
                    </div>
                </a>
            {% endfor %}
            {% if finishedSessions is empty and ongoingSessions is empty and futureSessions is empty %}
                <p class="teacher-noSession">This teacher is not currently registered to any session.</p>
            {% endif %}
        </div>

    </div>

{% endblock %}
