{% extends 'base.html.twig' %}

{% block title %}Session List{% endblock %}

{% block body %}
    <div class="breadcrumb">
        <p class="row">
            <a href="{{ path('app_home')}}">Dashboard</a>&nbsp;>&nbsp;<span class="pink">Sessions</span>
        </p>
    </div>

    <div class="content-container">
        
        <h1>Session <span class="pink">List</span></h1>
    
        {% for session in sessions %}
            <p>
                <a href={{ path('show_session', {'id' : session.id}) }}>
                    {{ session }}
                </a>
            </p>
            <p>
                {{ session.placesTaken }}/{{ session.place }}
            </p>
            <p>
                {{ session.dateStartFormat }}
            </p>
                
        {% endfor %}
    </div>

{% endblock %}