{% extends 'base.html.twig' %}

{% block title %}Session List{% endblock %}

{% block body %}
    <h1>Session <span class="pink">List</span></h1>

    {% for session in sessions %}
        <p>
            <a href={{ path('show_session', {'id' : session.id}) }}>
                {{ session }}
            </a>
        </p>
        <p>
            {{ session.placesTaken }}/{{ session.place }}
        </p>
        <p>
            {{ session.dateStartFormat }}
        </p>
            
    {% endfor %}

{% endblock %}