{% extends 'base.html.twig' %}

{% block title %}Session List{% endblock %}

{% block body %}
    <div class="breadcrumb">
        <p class="row">
            <a href="{{ path('app_home')}}">Dashboard</a>&nbsp;>&nbsp;<span class="blue">Sessions</span>
        </p>
    </div>

    <div class="grid content-container">
        
        <div class="page-title row">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32" height="32" rx="8" fill="var(--grey1)"/>
                <path d="M9 21H23M9 16H23M9 11H17" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h1>Session <span class="blue">List</span></h1>
        </div>
    
        <span class="page-info blue-bg sat18">Select a session to see more information</span>

        <button class="session-display-btn blue-bg sat18" id="ongoing-btn">Ongoing Sessions</button>
        <button class="session-display-btn grey2-bg sat18" id="future-btn">Future Sessions</button>
        <button class="session-display-btn grey2-bg sat18" id="finished-btn">Finished Sessions</button>

        <div class="session-card-container session-card-container__ongoing grid">
            {% for session in ongoingSessions %}
                <a class="column session-card grey3-bg sat18" href={{ path('show_session', {'id' : session.id}) }}>
                    <p>
                        {{ session }}
                    </p>
                    <div class="session-card_infos row">
                        {% if session.placesTaken < session.place %}
                        <p class="row">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 16.5C15 14.8431 12.7614 13.5 10 13.5C7.23858 13.5 5 14.8431 5 16.5M19 13.5004C19 12.2702 17.7659 11.2129 16 10.75M1 13.5004C1 12.2702 2.2341 11.2129 4 10.75M16 6.73611C16.6137 6.18679 17 5.3885 17 4.5C17 2.84315 15.6569 1.5 14 1.5C13.2316 1.5 12.5308 1.78885 12 2.26389M4 6.73611C3.38625 6.18679 3 5.3885 3 4.5C3 2.84315 4.34315 1.5 6 1.5C6.76835 1.5 7.46924 1.78885 8 2.26389M10 10.5C8.34315 10.5 7 9.15685 7 7.5C7 5.84315 8.34315 4.5 10 4.5C11.6569 4.5 13 5.84315 13 7.5C13 9.15685 11.6569 10.5 10 10.5Z" stroke="var(--grey4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ session.placesTaken }}/{{ session.place }}
                        </p>
                        {% else %}
                        <p class="row session-card_full">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 16.5C15 14.8431 12.7614 13.5 10 13.5C7.23858 13.5 5 14.8431 5 16.5M19 13.5004C19 12.2702 17.7659 11.2129 16 10.75M1 13.5004C1 12.2702 2.2341 11.2129 4 10.75M16 6.73611C16.6137 6.18679 17 5.3885 17 4.5C17 2.84315 15.6569 1.5 14 1.5C13.2316 1.5 12.5308 1.78885 12 2.26389M4 6.73611C3.38625 6.18679 3 5.3885 3 4.5C3 2.84315 4.34315 1.5 6 1.5C6.76835 1.5 7.46924 1.78885 8 2.26389M10 10.5C8.34315 10.5 7 9.15685 7 7.5C7 5.84315 8.34315 4.5 10 4.5C11.6569 4.5 13 5.84315 13 7.5C13 9.15685 11.6569 10.5 10 10.5Z" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ session.placesTaken }}/{{ session.place }}
                        </p>
                        {% endif %}
                        <div class="session-card_dates row">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7H17M1 7V15.8002C1 16.9203 1 17.4801 1.21799 17.9079C1.40973 18.2842 1.71547 18.5905 2.0918 18.7822C2.5192 19 3.07899 19 4.19691 19H13.8031C14.921 19 15.48 19 15.9074 18.7822C16.2837 18.5905 16.5905 18.2842 16.7822 17.9079C17 17.4805 17 16.9215 17 15.8036V7M1 7V6.2002C1 5.08009 1 4.51962 1.21799 4.0918C1.40973 3.71547 1.71547 3.40973 2.0918 3.21799C2.51962 3 3.08009 3 4.2002 3H5M17 7V6.19691C17 5.07899 17 4.5192 16.7822 4.0918C16.5905 3.71547 16.2837 3.40973 15.9074 3.21799C15.4796 3 14.9203 3 13.8002 3H13M13 1V3M13 3H5M5 1V3" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="column">
                                <p class="session-card_finished">
                                    {{ session.dateStartFormat }}
                                </p>
                                <p>
                                    {{ session.dateEndFormat }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="session-card-container session-card-container__future grid hidden">
            {% for session in futureSessions %}
                <a class="column session-card grey3-bg sat18" href={{ path('show_session', {'id' : session.id}) }}>
                    <p>
                        {{ session }}
                    </p>
                    <div class="session-card_infos row">
                        {% if session.placesTaken < session.place %}
                        <p class="row">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 16.5C15 14.8431 12.7614 13.5 10 13.5C7.23858 13.5 5 14.8431 5 16.5M19 13.5004C19 12.2702 17.7659 11.2129 16 10.75M1 13.5004C1 12.2702 2.2341 11.2129 4 10.75M16 6.73611C16.6137 6.18679 17 5.3885 17 4.5C17 2.84315 15.6569 1.5 14 1.5C13.2316 1.5 12.5308 1.78885 12 2.26389M4 6.73611C3.38625 6.18679 3 5.3885 3 4.5C3 2.84315 4.34315 1.5 6 1.5C6.76835 1.5 7.46924 1.78885 8 2.26389M10 10.5C8.34315 10.5 7 9.15685 7 7.5C7 5.84315 8.34315 4.5 10 4.5C11.6569 4.5 13 5.84315 13 7.5C13 9.15685 11.6569 10.5 10 10.5Z" stroke="var(--grey4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ session.placesTaken }}/{{ session.place }}
                        </p>
                        {% else %}
                        <p class="row session-card_full">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 16.5C15 14.8431 12.7614 13.5 10 13.5C7.23858 13.5 5 14.8431 5 16.5M19 13.5004C19 12.2702 17.7659 11.2129 16 10.75M1 13.5004C1 12.2702 2.2341 11.2129 4 10.75M16 6.73611C16.6137 6.18679 17 5.3885 17 4.5C17 2.84315 15.6569 1.5 14 1.5C13.2316 1.5 12.5308 1.78885 12 2.26389M4 6.73611C3.38625 6.18679 3 5.3885 3 4.5C3 2.84315 4.34315 1.5 6 1.5C6.76835 1.5 7.46924 1.78885 8 2.26389M10 10.5C8.34315 10.5 7 9.15685 7 7.5C7 5.84315 8.34315 4.5 10 4.5C11.6569 4.5 13 5.84315 13 7.5C13 9.15685 11.6569 10.5 10 10.5Z" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ session.placesTaken }}/{{ session.place }}
                        </p>
                        {% endif %}
                        <div class="session-card_dates row">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7H17M1 7V15.8002C1 16.9203 1 17.4801 1.21799 17.9079C1.40973 18.2842 1.71547 18.5905 2.0918 18.7822C2.5192 19 3.07899 19 4.19691 19H13.8031C14.921 19 15.48 19 15.9074 18.7822C16.2837 18.5905 16.5905 18.2842 16.7822 17.9079C17 17.4805 17 16.9215 17 15.8036V7M1 7V6.2002C1 5.08009 1 4.51962 1.21799 4.0918C1.40973 3.71547 1.71547 3.40973 2.0918 3.21799C2.51962 3 3.08009 3 4.2002 3H5M17 7V6.19691C17 5.07899 17 4.5192 16.7822 4.0918C16.5905 3.71547 16.2837 3.40973 15.9074 3.21799C15.4796 3 14.9203 3 13.8002 3H13M13 1V3M13 3H5M5 1V3" stroke="var(--grey4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="column">
                                <p class="session-card_futureStart">
                                    {{ session.dateStartFormat }}
                                </p>
                                <p>
                                    {{ session.dateEndFormat }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="session-card-container session-card-container__finished grid hidden">
            {% for session in finishedSessions %}
                <a class="column session-card grey3-bg sat18" href={{ path('show_session', {'id' : session.id}) }}>
                    <p>
                        {{ session }}
                    </p>
                    <div class="session-card_infos row">
                        {% if session.placesTaken < session.place %}
                        <p class="row">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 16.5C15 14.8431 12.7614 13.5 10 13.5C7.23858 13.5 5 14.8431 5 16.5M19 13.5004C19 12.2702 17.7659 11.2129 16 10.75M1 13.5004C1 12.2702 2.2341 11.2129 4 10.75M16 6.73611C16.6137 6.18679 17 5.3885 17 4.5C17 2.84315 15.6569 1.5 14 1.5C13.2316 1.5 12.5308 1.78885 12 2.26389M4 6.73611C3.38625 6.18679 3 5.3885 3 4.5C3 2.84315 4.34315 1.5 6 1.5C6.76835 1.5 7.46924 1.78885 8 2.26389M10 10.5C8.34315 10.5 7 9.15685 7 7.5C7 5.84315 8.34315 4.5 10 4.5C11.6569 4.5 13 5.84315 13 7.5C13 9.15685 11.6569 10.5 10 10.5Z" stroke="var(--grey4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ session.placesTaken }}/{{ session.place }}
                        </p>
                        {% else %}
                        <p class="row session-card_full">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 16.5C15 14.8431 12.7614 13.5 10 13.5C7.23858 13.5 5 14.8431 5 16.5M19 13.5004C19 12.2702 17.7659 11.2129 16 10.75M1 13.5004C1 12.2702 2.2341 11.2129 4 10.75M16 6.73611C16.6137 6.18679 17 5.3885 17 4.5C17 2.84315 15.6569 1.5 14 1.5C13.2316 1.5 12.5308 1.78885 12 2.26389M4 6.73611C3.38625 6.18679 3 5.3885 3 4.5C3 2.84315 4.34315 1.5 6 1.5C6.76835 1.5 7.46924 1.78885 8 2.26389M10 10.5C8.34315 10.5 7 9.15685 7 7.5C7 5.84315 8.34315 4.5 10 4.5C11.6569 4.5 13 5.84315 13 7.5C13 9.15685 11.6569 10.5 10 10.5Z" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ session.placesTaken }}/{{ session.place }}
                        </p>
                        {% endif %}
                        <div class="session-card_dates row">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7H17M1 7V15.8002C1 16.9203 1 17.4801 1.21799 17.9079C1.40973 18.2842 1.71547 18.5905 2.0918 18.7822C2.5192 19 3.07899 19 4.19691 19H13.8031C14.921 19 15.48 19 15.9074 18.7822C16.2837 18.5905 16.5905 18.2842 16.7822 17.9079C17 17.4805 17 16.9215 17 15.8036V7M1 7V6.2002C1 5.08009 1 4.51962 1.21799 4.0918C1.40973 3.71547 1.71547 3.40973 2.0918 3.21799C2.51962 3 3.08009 3 4.2002 3H5M17 7V6.19691C17 5.07899 17 4.5192 16.7822 4.0918C16.5905 3.71547 16.2837 3.40973 15.9074 3.21799C15.4796 3 14.9203 3 13.8002 3H13M5 3H13M5 3V1M13 3V1M12 11L8 15L6 13" stroke="var(--green)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="column session-card_finished">
                                <p>
                                    {{ session.dateStartFormat }}
                                </p>
                                <p>
                                    {{ session.dateEndFormat }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}