{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Edit Session
    {% else %}
        Add Session
    {% endif %}
{% endblock %}

{% block body %}

    {% if edit %}
        <h1>Edit Session</h1>
        
    {% else %}
        <h1>Add Session</h1>
    {% endif %}

    {{ form_start(formNewSession) }}

        <div>
            {{ form_row(formNewSession.name) }}
        </div>
        <div>
            {{ form_row(formNewSession.place) }}
        </div>
        <div>
            {{ form_row(formNewSession.dateStart) }}
        </div>
        <div>
            {{ form_row(formNewSession.dateEnd) }}
        </div>
        <div>
            {{ form_row(formNewSession.teacher) }}
        </div>
        <div>
            {{ form_row(formNewSession.formation) }}
        </div>

        {{ form_row(formNewSession.submit) }}

    {{ form_end(formNewSession) }}


{% endblock %}